<div class="fondoImagen">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-sm-6 col-xs-0"></div>
      <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12 text-center">
        <br><br><br><br><br><br><br><br>
        <h1 class="unkempt-bold">Sammuele Pizzas & Paninis</h1>
        <br><br>
        <h1 class="uncial">Delivery</h1>
        <br>
        <span class="material-symbols-outlined text-danger ubicacion">
          location_on
        </span>
        <span class="inter-fuente">
          Sangolqu&iacute;
        </span>
      </div>
    </div>
  </div>
</div>
