<div class="fondo text-center">
  <h1 class="wire-one fondoText text-light">CARTA</h1>
  <br>
  <div class="contanier wire-one2">
    <div class="row px-4">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2">
        <button class="fondoText text-light" (click)="desplazar('Pizzas')">Pizzas</button>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2">
        <button class="fondoText text-light" (click)="desplazar('Paninis')">Paninis</button>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2">
        <button class="fondoText text-light" (click)="desplazar('Hamburguesas')">Hamburguesas</button>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2">
        <button class="fondoText text-light" (click)="desplazar('Lasagnas')">Lasagnas</button>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2">
        <button class="fondoText text-light" (click)="desplazar('Kebab')">Kebab</button>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2">
        <button class="fondoText text-light" (click)="desplazar('Tacos')">Tacos</button>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2">
        <button class="fondoText text-light" (click)="desplazar('Porciones')">Porciones</button>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2">
        <button class="fondoText text-light" (click)="desplazar('Otros')">Otros</button>
      </div>
    </div>
  </div>

  <br><br>
  <div class="wire-one contenedor">
    <hr>
    <p class="px-2 text-light" id="Pizzas">Pizzas</p>
    <!-- tarjetas -->
  </div>
  <div class="wire-one contenedor">
    <hr>
    <p class="px-2 text-light" id="Paninis">Paninis</p>
    <!-- tarjetas -->
  </div>
  <div class="wire-one contenedor">
    <hr>
    <p class="px-2 text-light" id="Hamburguesas">Hamburguesas</p>
    <!-- tarjetas -->
  </div>
  <div class="wire-one contenedor">
    <hr>
    <p class="px-2 text-light" id="Lasagnas">Lasagnas</p>
    <!-- tarjetas -->
  </div>
  <div class="wire-one contenedor">
    <hr>
    <p class="px-2 text-light" id="Kebab">Kebab</p>
    <!-- tarjetas -->
  </div>
  <div class="wire-one contenedor">
    <hr>
    <p class="px-2 text-light" id="Tacos">Tacos</p>
    <!-- tarjetas -->
  </div>
  <div class="wire-one contenedor">
    <hr>
    <p class="px-2 text-light" id="Porciones">Porciones</p>
    <!-- tarjetas -->
  </div>
  <div class="wire-one contenedor">
    <hr>
    <p class="px-2 text-light" id="Otros">Otros</p>
    <!-- tarjetas -->
  </div>
</div>

