<footer class="inter-fuente p-2">
  <div class="text-center p-4">
    Pide nuestros productos a domicilio en la web www.sammuelepizzeria.ec
    <br>
    Local comercial Entrepanes, Calle Hilarion Eslava, 32, Moncloa, Madrid, las 24 horas.
  </div>
  <br><br>
  <div class="separador"></div>
  <div class="footer-container">
    <div class="text-left">
      © 2024 Sammuele Pizzas & Paninis
    </div>
    <div class="text-end">
      <a href="">
        <img class="p-2" src="assets/redesSociales/instagram.png" alt="instagram">
      </a>
      <a href="">
        <img class="p-2" src="assets/redesSociales/tiktok.png" alt="tiktok">
      </a>
      <a href="">
        <img class="p-2" src="assets/redesSociales/facebook.png" alt="facebook">
      </a>
    </div>
  </div>
</footer>
