$footerColor : #423F3F;
$colorFooter: #ECE9E1;

footer {
  background-color: $footerColor;
  color: $colorFooter;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 45px;
  height: 45px;
  filter:invert(90%)
}

.inter-fuente {
  font-size: 15px;
}

.separador {
  border-top: 1px solid white;
  margin: 20px;
}
